<div class="p-fluid p-formgrid grid mt-1" [formGroup]="formGroup">
    <div class="field col-12 py-0">
        <label htmlFor="name">Nome<span class="text-red-500 font-bold">*</span></label>
        <input id="name" formControlName="name" pInputText required autofocus [ngClass]="{'ng-invalid ng-dirty' : name.invalid && (name.dirty || name.touched)}"/>
        <div *ngIf="name.invalid && (name.dirty || name.touched)">
            <small class="ng-dirty ng-invalid" *ngIf="name.errors?.['required']">Este campo é obrigatório.</small>
        </div>
    </div>
    <div class="field col-12 py-0">
        <label htmlFor="postal_code">CEP<span class="text-red-500 font-bold">*</span></label>
        <p-inputMask id="postal_code" mask="99999-999" [unmask]="true" formControlName="postal_code" required [ngClass]="{'ng-invalid ng-dirty' : postal_code.invalid && (postal_code.dirty || postal_code.touched)}"/>
        <div *ngIf="postal_code.invalid && (postal_code.dirty || postal_code.touched)">
            <small class="ng-dirty ng-invalid" *ngIf="postal_code.errors?.['required']">Este campo é obrigatório.</small>
        </div>
    </div>
    <div class="field col-12 py-0">
        <label htmlFor="street">Logradouro<span class="text-red-500 font-bold">*</span></label>
        <input id="street" formControlName="street" type="text" pInputText required [ngClass]="{'ng-invalid ng-dirty' : street.invalid && (street.dirty || street.touched)}"/>
        <div *ngIf="street.invalid && (street.dirty || street.touched)">
            <small class="ng-dirty ng-invalid" *ngIf="street.errors?.['required']">Este campo é obrigatório.</small>
        </div>
    </div>
    <div class="field col-3 py-0">
        <label htmlFor="number">Número<span class="text-red-500 font-bold">*</span></label>
        <input id="number" formControlName="number" pInputText required [ngClass]="{'ng-invalid ng-dirty' : number.invalid && (number.dirty || number.touched)}"/>
        <div *ngIf="number.invalid && (number.dirty || number.touched)">
            <small class="ng-dirty ng-invalid" *ngIf="number.errors?.['required']">Este campo é obrigatório.</small>
        </div>
    </div>
    <div class="field col-9 py-0">
        <label htmlFor="complement">Complemento</label>
        <input id="complement" formControlName="complement" pInputText [ngClass]="{'ng-invalid ng-dirty' : complement.invalid && (complement.dirty || complement.touched)}"/>
    </div>
    <div class="field col-12 py-0">
        <label htmlFor="locality">Bairro<span class="text-red-500 font-bold">*</span></label>
        <input id="locality" formControlName="locality" pInputText required [ngClass]="{'ng-invalid ng-dirty' : locality.invalid && (locality.dirty || locality.touched)}"/>
        <div *ngIf="locality.invalid && (locality.dirty || locality.touched)">
            <small class="ng-dirty ng-invalid" *ngIf="locality.errors?.['required']">Este campo é obrigatório.</small>
        </div>
    </div>
    <div class="field col-9 py-0">
        <label htmlFor="region">Cidade<span class="text-red-500 font-bold">*</span></label>
        <input id="region" formControlName="region" pInputText required [ngClass]="{'ng-invalid ng-dirty' : region.invalid && (region.dirty || region.touched)}"/>
        <div *ngIf="region.invalid && (region.dirty || region.touched)">
            <small class="ng-dirty ng-invalid" *ngIf="region.errors?.['required']">Este campo é obrigatório.</small>
        </div>
    </div>
    <div class="field col-3 py-0">
        <label htmlFor="region_code">UF<span class="text-red-500 font-bold">*</span></label>
        <input id="region_code" formControlName="region_code" pInputText required [ngClass]="{'ng-invalid ng-dirty' : region_code.invalid && (region_code.dirty || region_code.touched)}"/>
        <div *ngIf="region_code.invalid && (region_code.dirty || region_code.touched)">
            <small class="ng-dirty ng-invalid" *ngIf="region_code.errors?.['required']">Este campo é obrigatório.</small>
        </div>
    </div>
    <div class="field col-12 py-0 flex align-items-center gap-2">
        <p-inputSwitch id="main" formControlName="main"></p-inputSwitch>
        <label htmlFor="main" class="mb-1">Principal</label>
    </div>
    <div class="col-12 flex justify-content-end gap-2">
        <p-button label="Cancelar" [text]="true" severity="secondary" (click)="close()"></p-button>
        <p-button label="Salvar" type="button" (click)="submit()" [disabled]="!formGroup.valid"></p-button>
    </div>
</div>