<div class="flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
    <div class="card w-6">
        <h1 class="mb-4 font-bold text-2xl">Cadastre-se</h1>
        <p-steps [model]="items" [activeIndex]="activeIndex" (activeIndexChange)="onActiveIndexChange($event)"></p-steps>
        <div class="my-5">
            <div class="p-fluid p-formgrid grid mt-1" [formGroup]="formGroup" *ngIf="activeIndex === 0">
                <div class="field col-12 md:col-6 py-0">
					<label htmlFor="name">Nome<span class="text-red-500 font-bold">*</span></label>
					<input id="name" formControlName="name" pInputText required autofocus [ngClass]="{'ng-invalid ng-dirty' : name.invalid && (name.dirty || name.touched)}"/>
					<div *ngIf="name.invalid && (name.dirty || name.touched)">
						<small class="ng-dirty ng-invalid" *ngIf="name.errors?.['required']">Este campo é obrigatório.</small>
					</div>
				</div>
				<div class="field col-12 md:col-6 py-0">
					<label htmlFor="cpf_cnpj">CPF<span class="text-red-500 font-bold">*</span></label>
					<p-inputMask id="cpf_cnpj" formControlName="cpf_cnpj" mask="999.999.999-99" [unmask]="true" required [ngClass]="{'ng-invalid ng-dirty' : cpf_cnpj.invalid && (cpf_cnpj.dirty || cpf_cnpj.touched)}"></p-inputMask>
					<div *ngIf="cpf_cnpj.invalid && (cpf_cnpj.dirty || cpf_cnpj.touched)">
						<small class="ng-dirty ng-invalid" *ngIf="cpf_cnpj.errors?.['required']">Este campo é obrigatório.</small>
					</div>
				</div>
				<div class="field col-12 md:col-6 py-0">
					<label htmlFor="email">E-mail<span class="text-red-500 font-bold">*</span></label>
					<input id="email" type="email" formControlName="email" pInputText required [ngClass]="{'ng-invalid ng-dirty' : email.invalid && (email.dirty || email.touched)}"/>
					<div *ngIf="email.invalid && (email.dirty || email.touched)">
						<small class="ng-dirty ng-invalid" *ngIf="email.errors?.['required']">Este campo é obrigatório.</small>
						<small class="ng-dirty ng-invalid" *ngIf="email.errors?.['email']">Informe um e-mail válido.</small>
					</div>
				</div>
				<div class="field col-12 md:col-6 py-0">
					<label htmlFor="birth_date">Dt. Nascimento<span class="text-red-500 font-bold">*</span></label>
					<p-calendar id="birth_date" type="birth_date" formControlName="birth_date" inputId="icon" [showIcon]="true" dateFormat="dd/mm/yy" required [ngClass]="{'ng-invalid ng-dirty' : birth_date.invalid && (birth_date.dirty || birth_date.touched)}"></p-calendar>
					<div *ngIf="birth_date.invalid && (birth_date.dirty || birth_date.touched)">
						<small class="ng-dirty ng-invalid" *ngIf="birth_date.errors?.['required']">Este campo é obrigatório.</small>
					</div>
				</div>
            </div>
            <div *ngIf="activeIndex === 1">
                <p-table
						#dt
						[value]="data.phones"
						responsiveLayout="scroll" 
						[paginator]="false"
						[rowHover]="true"
						dataKey="id"
						[loading]="isLoading"
						[resizableColumns]="true"
						columnResizeMode="expand"
						[scrollable]="true"
						scrollHeight="400px"
					>
						<ng-template pTemplate="caption">
							<div class="flex flex-row justify-content-between align-items-center">
								<h5 class="m-0">Telefones</h5>
								<div>
									<button pButton pRipple label="Novo" icon="pi pi-plus" class="p-button-success mr-2" (click)="openPhoneDialog()"></button>
								</div>
							</div>
						</ng-template>
						<ng-template pTemplate="header">
							<tr>
								<th pResizableColumn>Número</th>
								<th pResizableColumn>Tipo</th>
								<th pResizableColumn>Principal</th>
								<th></th>
							</tr>
						</ng-template>
						<ng-template pTemplate="body" let-record let-rowIndex="rowIndex">
							<tr>
								<td>
									<span class="p-column-title">Número</span>
									{{ record.ddd + record.number | phone }}
								</td>
								<td>
									<span class="p-column-title">Tipo</span>
									{{ phoneTypeEnumLabels[record.type] }}
								</td>
								<td>
									<span class="p-column-title">Principal</span>
									<i class="pi pi-check" *ngIf="record.main"></i>
								</td>
								<td>
									<div class="flex flex-nowrap justify-content-end gap-1">
										<button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-warning" (click)="openPhoneDialog(record, rowIndex)"></button>
										<button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger" (click)="removePhone(rowIndex)"></button>
									</div>
								</td>
							</tr>
						</ng-template>
						<ng-template pTemplate="emptymessage">
							<tr>
								<td colspan="4">
									<div class="flex justify-content-center">Nenhum registro cadastrado.</div>
								</td>
							</tr>
						</ng-template>
					</p-table>
            </div>
            <div *ngIf="activeIndex === 2">
                Conteúdo do Passo 3
            </div>
            <div *ngIf="activeIndex === 3">
                Conteúdo do Passo 4
            </div>
        </div>
          
        <div class="flex justify-content-end gap-3">
            <p-button pRipple label="Anterior" [outlined]="true" (click)="prev()" *ngIf="activeIndex != 0"></p-button>
            <p-button pRipple label="Próximo" (click)="next()" *ngIf="activeIndex != items.length - 1"></p-button>
            <p-button pRipple label="Concluir" *ngIf="activeIndex == items.length - 1"></p-button>
        </div>
    </div>
</div>
<p-toast></p-toast>