<div class="grid">
    <div class="col-12">
        <div class="card">
            <h4>Pacientes</h4>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="Novo" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
                        <button pButton pRipple label="Deletar" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedProducts()" [disabled]="!selectedProducts || !selectedProducts.length"></button>
                    </div>
                </ng-template>

                <ng-template pTemplate="right">
                    <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="mr-2 inline-block"></p-fileUpload>
                    <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help" (click)="dt.exportCSV()"></button>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="patients" [columns]="cols" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['name','country.name','representative.name','status']" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Exibindo {first} a {last} de {totalRecords} entradas" [(selection)]="selectedPatients" selectionMode="multiple" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Gerenciar Pacientes</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..."  class="w-full sm:w-auto"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem"></th>
                        <th pSortableColumn="id">ID <p-sortIcon field="id"></p-sortIcon></th>
                        <th pSortableColumn="name">Nome <p-sortIcon field="name"></p-sortIcon></th>
                        <th pSortableColumn="email">E-mail <p-sortIcon field="email"></p-sortIcon></th>
                        <th pSortableColumn="cpf_cnpj">CPF/CNPJ <p-sortIcon field="cpf_cnpj"></p-sortIcon></th>
                        <th pSortableColumn="birth_date">Dt. Aniversário <p-sortIcon field="birth_date"></p-sortIcon></th>
                        <th pSortableColumn="service_price">Seriviço <p-sortIcon field="service_price"></p-sortIcon></th>
                        <th></th>
                    </tr>
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th>
                            <p-columnFilter type="text" field="id"></p-columnFilter>
                        </th>
                        <th>
                            <p-columnFilter type="text" field="name"></p-columnFilter>
                        </th>
                        <th>
                            <p-columnFilter type="text" field="email"></p-columnFilter>
                        </th>
                        <th>
                            <p-columnFilter type="text" field="cpf_cnpj"></p-columnFilter>
                        </th>
                        <th>
                            <p-columnFilter type="date" field="birth_date" display="menu" class="ml-auto"></p-columnFilter>
                        </th>
                        <th>
                            <p-columnFilter type="numeric" field="service_price" display="menu" currency="BRL" class="ml-auto"></p-columnFilter>
                        </th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-patient>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="patient"></p-tableCheckbox>
                        </td>
                        <td style="width:14%; min-width:12rem;">
                            <span class="p-column-title">ID</span>
                            {{patient.id}}
                        </td>
                        <td style="width:14%; min-width:18rem;">
                            <span class="p-column-title">Nome</span>
                            {{patient.name}}
                        </td>
                        <td style="width:14%; min-width:18rem;">
                            <span class="p-column-title">E-mail</span>
                            {{patient.email}}
                        </td>
                        <td style="width:14%; min-width:18rem;">
                            <span class="p-column-title">CPF/CNPJ</span>
                            {{patient.cpf_cnpj}}
                        </td>
                        <td style="width:14%; min-width:18rem;">
                            <span class="p-column-title">Dt. Aniversário</span>
                            {{patient.birth_date | date: "dd/MM/Y" }}
                        </td>
                        <td style="width:14%; min-width:18rem;">
                            <span class="p-column-title">Serviço</span>
                            {{patient.service_price | currency: 'BRL' }}
                        </td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editProduct(product)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteProduct(product)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>
