<div class="grid" *ngIf="!isLoading; else loagingSkeleton">
    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3">Pacientes</span>
                    <div class="text-900 font-medium text-xl">{{ data.patients?.count }}</div>
                </div>
                <div class="flex align-items-center justify-content-center bg-blue-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                    <i class="pi pi-fw pi-users text-blue-500 text-xl"></i>
                </div>
            </div>
            <div [ngStyle]="{'visibility' : data.patients?.new_this_month ? 'visible' : 'hidden' }">
                <span class="text-green-500 font-medium">{{ data.patients?.new_this_month }} novos </span>
                <span class="text-500">este mês</span>
            </div>
        </div>
    </div>
    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3">Treinos</span>
                    <div class="text-900 font-medium text-xl">0</div>
                </div>
                <div class="flex align-items-center justify-content-center bg-orange-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                    <i class="pi pi-fw pi-shield text-orange-500 text-xl"></i>
                </div>
            </div>
            <div [ngStyle]="{'visibility' : false ? 'visible' : 'hidden' }">
                <span class="text-green-500 font-medium">X novos </span>
                <span class="text-500">este mês</span>
            </div>
        </div>
    </div>
    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3">Lucro mensal</span>
                    <div class="text-900 font-medium text-xl">{{ data.monthly_profit?.amount | currency: 'BRL' }}</div>
                </div>
                <div class="flex align-items-center justify-content-center bg-green-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                    <i class="pi pi-fw pi-wallet text-green-500 text-xl"></i>
                </div>
            </div>
            <div [ngStyle]="{'visibility' : data.monthly_profit?.percent ? 'visible' : 'hidden' }">
                <span [ngClass]="data.monthly_profit?.percent > 0 ? 'text-green-500 font-medium' : 'text-red-500 font-medium'">{{ data.monthly_profit?.percent > 0 ? '+' : '' }}{{ data.monthly_profit?.percent / 100 | percent: '0.0-2' }} </span>
                <span class="text-500">que o mês passado</span>
            </div>
        </div>
    </div>
    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3">Recebimento pendente</span>
                    <div class="text-900 font-medium text-xl">{{ data.pending_profit?.amount | currency: 'BRL' }}</div>
                </div>
                <div class="flex align-items-center justify-content-center bg-yellow-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                    <i class="pi pi-fw pi-exclamation-circle text-yellow-500 text-xl"></i>
                </div>
            </div>
            <div [ngStyle]="{'visibility' : data.pending_profit?.percent ? 'visible' : 'hidden' }">
                <span [ngClass]="data.pending_profit?.percent > 0 ? 'text-green-500 font-medium' : 'text-red-500 font-medium'">{{ data.pending_profit?.percent / 100 | percent: '0.0-2' }} </span>
                <span class="text-500">da receita total</span>
            </div>
        </div>
    </div>
    <div class="col-12 xl:col-6">
        <div class="card flex flex-column align-items-center">
            <h5 class="text-left w-full">Recebimentos e pendências do mês atual</h5>
            <p-chart type="doughnut" [data]="profitChartData" [options]="profitChartOptions"></p-chart>
        </div>
    </div>
    <div class="col-12 xl:col-6">
        <div class="card">
            <h5>Visão geral de pacientes</h5>
            <p-chart type="line" [data]="patientsChartData" [options]="patientsChartOptions"></p-chart>
        </div>
    </div>
</div>
<ng-template #loagingSkeleton>
    <div class="grid">
        <div class="col-12 lg:col-6 xl:col-3">
            <p-skeleton height="140px" width="100%"></p-skeleton>
        </div>
        <div class="col-12 lg:col-6 xl:col-3">
            <p-skeleton height="140px" width="100%"></p-skeleton>
        </div>
        <div class="col-12 lg:col-6 xl:col-3">
            <p-skeleton height="140px" width="100%"></p-skeleton>
        </div>
        <div class="col-12 lg:col-6 xl:col-3">
            <p-skeleton height="140px" width="100%"></p-skeleton>
        </div>
        <div class="col-12 xl:col-6">
            <p-skeleton height="393px" width="100%"></p-skeleton>
        </div>
        <div class="col-12 xl:col-6">
            <p-skeleton height="440px" width="100%"></p-skeleton>
        </div>
    </div>
</ng-template>