<div class="grid" *ngIf="!isLoading; else loagingSkeleton">
    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3">Pacientes</span>
                    <div class="text-900 font-medium text-xl">2</div>
                </div>
                <div class="flex align-items-center justify-content-center bg-blue-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                    <i class="pi pi-fw pi-users text-blue-500 text-xl"></i>
                </div>
            </div>
            <span class="text-green-500 font-medium">2 novos </span>
            <span class="text-500">este mês</span>
        </div>
    </div>
    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3">Treinos</span>
                    <div class="text-900 font-medium text-xl">1</div>
                </div>
                <div class="flex align-items-center justify-content-center bg-orange-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                    <i class="pi pi-fw pi-shield text-orange-500 text-xl"></i>
                </div>
            </div>
            <span class="text-green-500 font-medium">1 novo </span>
            <span class="text-500">este mês</span>
        </div>
    </div>
    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3">Lucro mensal</span>
                    <div class="text-900 font-medium text-xl">R$ 1.040,00</div>
                </div>
                <div class="flex align-items-center justify-content-center bg-green-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                    <i class="pi pi-fw pi-wallet text-green-500 text-xl"></i>
                </div>
            </div>
            <span class="text-green-500 font-medium">+60% </span>
            <span class="text-500">que o mês passado</span>
        </div>
    </div>
    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3">Recebimento pendente</span>
                    <div class="text-900 font-medium text-xl">R$ 149,90</div>
                </div>
                <div class="flex align-items-center justify-content-center bg-yellow-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                    <i class="pi pi-fw pi-exclamation-circle text-yellow-500 text-xl"></i>
                </div>
            </div>
            <span class="text-green-500 font-medium">15% </span>
            <span class="text-500">da receita total</span>
        </div>
    </div>
</div>
<ng-template #loagingSkeleton>
    <div class="grid">
        <div class="col-12 lg:col-6 xl:col-3">
            <p-skeleton height="140px" width="100%"></p-skeleton>
        </div>
        <div class="col-12 lg:col-6 xl:col-3">
            <p-skeleton height="140px" width="100%"></p-skeleton>
        </div>
        <div class="col-12 lg:col-6 xl:col-3">
            <p-skeleton height="140px" width="100%"></p-skeleton>
        </div>
        <div class="col-12 lg:col-6 xl:col-3">
            <p-skeleton height="140px" width="100%"></p-skeleton>
        </div>
    </div>
</ng-template>