<div class="grid">
    <div class="col-12">
        <div class="card">
            <h4>Extrato</h4>
            <p-dataView #dv [value]="records">
                <ng-template pTemplate="header">
                </ng-template>
                <ng-template pTemplate="list" let-records>
                    <div class="grid grid-nogutter" *ngIf="!isLoading; else loadingBody">
                        <div class="col-12" *ngFor="let record of records">
                            <div class="flex flex-row align-items-center justify-content-between gap-2 p-3 border-bottom-1 surface-border">
                                <div class="font-bold w-6">
                                    {{ record.description }}
                                </div>
                                <div>
                                    {{ record.transaction_date | date: 'dd/MM/Y' }}
                                </div>
                                <div class="font-bold" [ngClass]="record.movement_type == 'CREDIT' ? 'text-green-500' : 'text-red-500'">
                                    {{ record.amount | currency: 'BRL' }}
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template pTemplate="footer">
                </ng-template>
                <ng-template pTemplate="empty">
                    <div class="p-3" *ngIf="!isLoading && records.length == 0">
                        Nenhum registro para exibir.
                    </div>
                </ng-template>
                <ng-template #loadingBody>
                    <div *ngFor="let i of [].constructor(6); let first = first">
                        <div class="flex flex-row align-items-center justify-content-between gap-2 p-3 border-bottom-1 surface-border">
                            <div class="font-bold w-6">
                                <p-skeleton height="16px" width="25%"></p-skeleton>
                            </div>
                            <div>
                                <p-skeleton height="16px" width="70px"></p-skeleton>
                            </div>
                            <div>
                                <p-skeleton height="16px" width="68px"></p-skeleton>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </p-dataView>
        </div>
    </div>
</div>