<div class="flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
    <div class="flex flex-column align-items-center justify-content-center col-12 xl:col-3 lg:col-4 md:col-5 sm:col-6">
        <p-card class="p-fluid">
            <img src="assets/layout/images/logo-dark.svg" alt="Fit Motive logo" class="w-4rem flex-shrink-0">
            <h2 class="font-bold mt-2">Resetar senha</h2>
            <p class="text-color-secondary">Digite o endereço de e-mail associado à sua conta e nós enviaremos uma nova senha de acesso para você.</p>
            <div class="field">
                <label htmlFor="email">E-mail</label>
                <input id="email" type="text" [(ngModel)]="email" pInputText required autofocus />
            </div>
            <button type="button" pButton pRipple label="Enviar" [disabled]="!email" (click)="resetPassword()"></button>
        </p-card>
    </div>
</div>
<p-toast></p-toast>